# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Webpack directories
.webpack

# Terraform directories
.terraform

# Terraform sensitive
terraform-plan
terraform.tfstate
terraform.tfstate.backup